html {
    background-color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgreen;
}
a {
    font-size: large;
}
li {
    list-style-type: none;
    line-height: 2;
    color: purple;
}
body {
    margin-top: 5px;
}
h1 {
    margin-bottom: 25px;
}
h3 {
    margin-top: 25px;
}
img {
    border-radius: 10%;
}